<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="/CSS/iniciarsesion.css">
</head>
<body>
<div id="app">
    <!-- Botón en la esquina superior izquierda -->
    <a href="index.html" class="back-button">
        <img src="/IMG/carstore_icon.png" alt="Volver a la tienda" title="Volver a la tienda">
    </a>

    <!-- Formulario de Inicio de Sesión -->
    <h2>Iniciar Sesión</h2>
    <form @submit.prevent="login">
        <label for="email">Email:</label>
        <input type="email" v-model="loginEmail" :class="{'input-error': loginError}" required>

        <label for="password">Password:</label>
        <input type="password" v-model="loginPassword" :class="{'input-error': loginError}" required>

        <button type="submit">Iniciar Sesión</button>
    </form>
    <p v-if="loginError" style="color: red;" class="error-message">{{ loginError }}</p>

    <!-- Botón para ir a Registro -->
    <p>¿No tienes cuenta? <a href="registro.html">Regístrate aquí</a></p>
</div>

<script>
new Vue({
    el: '#app',
    data: {
        loginEmail: '',
        loginPassword: '',
        loginError: ''
    },
    methods: {
        login() {
                fetch("http://localhost:5000/login", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ email: this.loginEmail, password: this.loginPassword })
                })
                .then(res => {
                if (!res.ok) throw new Error()
                return res.json()
                })
                .then(user => {
                localStorage.setItem("isLoggedIn", "true");
                localStorage.setItem("userId", user.id);
                localStorage.setItem("isAdmin", user.is_admin ? "true" : "false");
                window.location.href = user.is_admin ? "admin.html" : "index.html";
                })
                .catch(() => {
                this.loginError = "Credenciales inválidas";
                });

        }
    }
});
</script>
</body>
</html>
